<footer class="footer">
	<small>
		The <a href="" title="">Pre TCircle Tut</a>
		with <a href="" title="">Pinterest Interface</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://tafaricircle.com">TafariCircle or</a></li>
			<li><a href="HER">HEROKU</a></li>

		</ul>
	</nav>
</footer>